<footer>
    <p>leireirakasle21@gmail.com</p>       
    <div class="footerLinea"></div>
    <p>Bigarren Hezkuntzako gazte askok irakurtzeko zaletasuna dugu. Hala ere, liburudendetan hainbeste liburu daude, ez dakigula nondik hasi!
        Webgune honetan gaztetxuentzako eta ez hain gaztetxuentzako liburuak daude: arrakastatsuenak…baita gustatu ez zaizkigunak ere. Bilatu eta gozatu!</p>
    <div class="footerLinea"></div>
    <p>Webgune hau Txurdinagako Mikel, Xabier eta Unai ikasleek diseinatu dugu.</p>
</footer>