<header>
    <div id="headerLogo">
        <img id="logo" src="./view/content/logodemierda.png"  title="Hasiera">
    </div>
    <form id="headerSearch" action="">
        <input id="titlePiece" type="text" placeholder="Liburua bilatu" name="search">
        <button id="buscador"><span class="fa-solid fa-magnifying-glass"></span></button>
    </form>
    <nav id="headerNav">
        <button id="ventanaGrupos"><i class="fa-solid fa-user-group fa-xl"></i></button>
        <button id="addLibro"><i class="fa-solid fa-file-circle-plus fa-xl"></i></button>
        <button id="perfil"><img id="foto" src="" title="Perfil"></button>
    </nav>
</header>
