<header>
    <div id="headerLogo">
        <img id="logo" src="./view/content/logodemierda.png" alt=""  title="Hasiera">
    </div>
    <form id="headerSearch" action="">
        <input id="titlePiece" type="text" placeholder="Liburua bilatu" name="search">
        <button id="buscador"><span class="fa-solid fa-magnifying-glass"></span></button>
    </form>
    <nav id="headerNav">
        <button><i class="fa-solid fa-file-circle-plus fa-xl"></i></button>
        <button id="logout"><i class="fa-regular fa-user fa-xl"></i></button>
    </nav>
</header>
