#libroForm {
	width: 40vw;
	height: 60vh;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	transform: translateY(-30%);
}

.contenedor header{
	padding: 10px;
	background: #3386FF;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
	display: flex;
	justify-content: space-around;
	align-content: center;
}
.contenido h3{
	margin-bottom: 10px;
}

#btn-modal{
	display: none;
	
}
.lbl-modal{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}

.texto{

	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	
}

.texto:focus{

	background-color: white;
}

#boton{

	text-align: center;
	border-radius: 20px;
	border: 1px solid #3386FF;
	background-color: #3386FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#boton:hover{

	background-color: #075bdb;

}

.selector{

	width: 100%;
	padding: 12px 15px;
	border: none;
	background-color: #eee;
	margin: 8px 0;
	cursor: pointer;

}

.selector:focus{

	background-color: white;
	border:2px black solid ;
	border-radius: 5px;
}

.error{

	color: red;
}








