#containerSnap {
    width: 100%;
    height: 92vh;
    margin-top: 8vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#containerSnap section {
    display: flex;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-color: rgb(235, 235, 235);
}

#containerFicha {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#ficha  {
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 1%;
    align-items: center;
}

#ficha img {
    width: 30%;
    height: 90%;
    margin-left: 2%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#libro {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 68%;
    height: 90%;
}

#libro * {
    width: 85%;
}

#titulo {
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 3em;
    width: fit-content;
}

#titulo .estrellas {
    display: flex;
    width: fit-content;
}

#navegar {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    cursor: pointer;
	outline: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 6%;
}

#containerReviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    height: 92%;
    margin: 4%;
}

#headerReview {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 10%;
}

#headerReview  h1 {
    font-size: 3em;
    width: fit-content;
}

#score {
    display: flex;
    align-items: center;
}

#score h1 {
    color: orange;
}

#score .estrellas {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 6%;
    margin-left: 1%;
}

#score p {
    color: gray;
    margin-left: 2%;
}

#newReview {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    height: 10%;
}

#gehitu {
    width: 100%;
    height: 100%;
}

#gehitu b {
    cursor: pointer;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    margin-top: 5%;
    overflow-y: scroll;
}

.review {
    display: flex;
    justify-content: space-around;
    width: 80%;
    min-height: 35%;
    margin-bottom: 2.5%;
    padding: 1%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review .perfil {
    width: 5%;
    height: 35%;
    border-radius: 100%;
}

.review .info {
    width: 90%;
    height: 100%;
}

.info p {
    width: 100%;
    height: 40%;
}

.info * {
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

.info .erantzuna {
    height: 20%;
    align-self: flex-end;
    float: right;
    bottom: 1%;
}

button {
	border-radius: 20px;
	border: 1px solid #3386FF;
	background-color: #3386FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}